<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-c-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>主要有硬件pcb的设计，再根据硬件的进行软件设计，同时还有系统裁剪、QT界面开发等等.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>编程语言主要用到C/C++,当然其他语言也要涉及点，比如html、shell、madkefile、java等等</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>工具用的就多了，比如硬件用Altium Designer、keil、eclips、multisim，软件vi、qtcreate、atom、git等等linux系统下常用的软件</p>
    </div>
  </div>
</div>
