<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/QTimage.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> QT </h5>
      <li> 一个跨平台的C++图形用户界面应用程序框架</li>
      <p>Qt是1991年奇趣科技开发的一个跨平台的C++图形用户界面应用程序框架。它提供给应用程序开发者建立艺术级的图形用户界面所需的所有功能。Qt很容易扩展，并且允许真正地组件编程。基本上，Qt 同 X Window 上的 Motif，Openwin，GTK 等图形界 面库和 Windows 平台上的 MFC，OWL，VCL，ATL 是同类型的东西.
      。。。。。。。。。。</p>
      <a class="project-link" href="/Blog">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/databaseimage.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 数据库 </h5>
      <ul>
        <li> 主要有Mysql、sqllite、sql server等</li>
      </ul>
      <p>在信息化社会，充分有效地管理和利用各类信息资源，是进行科学研究和决策管理的前提条件。数据库技术是管理信息系统、办公自动化系统、决策支持系统等各类信息系统的核心部分，是进行科学研究和决策管理的重要技术手段.
      。。。。。。。。。。</p>
      <a class="project-link" href="/Blog">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/linux_management.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Linux系统管理 </h5>
      <li> 一套免费使用和自由传播的类Unix操作系统</li>
      <p>是一个基于POSIX和UNIX的多用户、多任务、支持多线程和多CPU的操作系统。它能运行主要的UNIX工具软件、应用程序和网络协议。它支持32位和64位硬件。Linux继承了Unix以网络为核心的设计思想，是一个性能稳定的多用户网络操作系统.
      。。。。。。。。。。</p>
      <a class="project-link" href="/Blog">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/linuxprogramming.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Linux应用开发 </h5>
      <ul>
        <li> 主要用C/C++编写Linux应用程序，当然会有Shell、Makefile等等的编写</li>
      </ul>
      <p>linux下主要是C/C++编程，有文件操作、进程管理、网络等等，同时学习简单的shell和makefile以及git等等，会使我们开发变得很方便.
      。。。。。。。。。。</p>
      <a class="project-link" href="/Blog">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/linux_embedded.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 嵌入式Linux </h5>
      <li> 主要是是对arm平台，涉及启动bootload、linuxKernel、linux驱动开发、程序移植等等。</li>
      <p>以应用为中心，以计算机技术为基础，软硬件可裁剪，适应应用系统对功能、可靠性、成本、体积、功耗等严格要求的专用计算机系统。.
      。。。。。。。。。。</p>
      <a class="project-link" href="/Blog">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/hardware.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 硬件开发 </h5>
      <ul>
        <li> 涉及有arm、51、电子电路等的设计开发</li>
      </ul>
      <p>硬件的功能是输入并存储程序和数据，以及执行程序把数据加工成可以利用的形式，任何软件都要依赖于硬件.
      。。。。。。。。。。</p>
      <a class="project-link" href="/Blog">Check it out</a>
    </div>
  </div>

</div>
